.col-md-4 {
    width: 30%;
}

.col-md-6 {
    width: 45%;
}

td,
th {
    padding: 2%;
}

a {
    color: #000
}

a:hover {
    text-decoration: none;
    color: aqua
}

.logout {
    color: #fff;
    font-size: 1.5em;
    padding: 1em;
}

.gray-bg {
    background-color: whitesmoke;
    margin: 1em;
    padding: 1em
}

.tbody > tr > td {
    width: 8em;
}

.action-btn {
    padding: 1em;
}

.btn {
    width: 7em;
    margin-right: 1em;
}

.header {
    background-color: black;
    height: 5em;
}
.active-user{
    margin: 10px;
    padding: 5px;
}

.active-user > li {
    list-style: none;
    font-size: 1.5em;
}